Flask>=0.12.2
Flask-Cors>=2.1.2
Flask-SQLAlchemy>=2.3.1
click>=6.7
itsdangerous>=0.24
Jinja2>=2.9.6
MarkupSafe>=1.0
pyparsing>=2.0.3
six>=1.10.0
SQLAlchemy>=1.0.12
Werkzeug>=0.12.2
psycopg2>=2.6.2
numpy>=1.11.2